@import "../../CommonColors.css";

.background {
  background-image: url("../../assets/images/Partners/Image2.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 75%;
  flex: 1;
  font-family: Rajdhani;
  margin-top: 3%;
}

.card {
  background-color: rgba(0, 19, 55, 0.6);
  position: relative;
  width: 508px;
  height: 304px;
  backdrop-filter: blur(32px);
  border-radius: 24px;
  top: 13%;
  left: 9%;
}

.title {
  color: var(--color-text);
  font-size: 32px;
  padding: 50px 50px;
  padding-bottom: 0;
  font-weight: 500;
  margin-top: -4%;
}

.text1 {
  color: var(--color-primary);
  padding: 0px 50px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: -10px;
  width: 79%;
}

.btn {
  background-color: var(--color-primary);
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 50px;
  gap: 20px;
  display: inline-flex;
  align-items: center;
  margin-top: 2%;
}

.btnText {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-dark);
}

.btnImg {
  width: 25px;
  height: 25px;
}
